{% extends "base.html" %}

{% block content %}
  <h2>
    Types
    <a href="{% url 'task:worker-create' %}" class="btn btn-sm btn-primary active, add">Add task type
    </a>
  </h2>
  <p>It page contains all types of tasks</p>
  <hr>
  {% for type in object_list %}

    <div class="row">
      <div class="col-md-10">
        <h2 class="my-4">
          {{ type.name }}:
{#          <a href="{% url 'task:type-update' pk=type.id %}" class="btn btn-sm btn-primary">Update task type</a>#}
{#          <a href="{% url 'task:type-delete' pk=type.id %}" class="btn btn-sm btn-danger">Delete task type</a>#}
        </h2>
      </div>
    </div>
    <div class="card card-body border-0 shadow table-wrapper table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="border-gray-200">Id</th>
          <th class="border-gray-200">Task name</th>
          <th class="border-gray-200">Task type</th>
          <th class="border-gray-200">Deadline</th>
          <th class="border-gray-200">Priority</th>
          <th class="border-gray-200">Status</th>
          <th class="border-gray-200">
          </th>
        </tr>
        </thead>
        {% for task in type.tasks.all %}
          <tbody>
          <!-- Item -->
          <tr>
            <td><a href="{% url "task:task-detail" pk=task.id %}" class="fw-bold">{{ task.id }}</a></td>
            <td><span class="fw-normal">{{ task.name|truncatechars:15 }}</span></td>
            <td><span class="fw-normal">{{ task.task_type }}</span></td>
            <td><span class="fw-normal">{{ task.deadline }}</span></td>
            <td><span class="fw-bold">{{ task.priority }}</span></td>
            <td><span
                {% if not task.is_completed %}class="fw-bold text-warning"
                {% else %}class="fw-bold text-success"{% endif %}>
            {% if not task.is_completed %} In progress {% else %} Done {% endif %}
          </span></td>
          </tr>
          </tbody>
        {% endfor %}
      </table>
    </div>
  {% endfor %}
{% endblock %}
