{% extends "base.html" %}

{% block content %}
  <h2>Workers</h2>
  <p>Here is all workers</p>
  <hr>
  <div class="row">
    <div class="col-md-10">
      <h2 class="my-4">Worker list:</h2>
    </div>
  </div>
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="border-gray-200">Id</th>
      <th class="border-gray-200">Username</th>
      <th class="border-gray-200">Full name</th>
      <th class="border-gray-200">Position</th>
      <th class="border-gray-200">
        <a href="{% url 'task:task-create' %}" class="btn btn-sm btn-primary active, add">Add task
        </a>
      </th>
    </tr>
    </thead>
    <tbody>
    <!-- Item -->
    {% for worker in worker_list %}
      <p>worker</p>
      <tr>
        <td><a href="#" class="fw-bold">{{ worker.id }}</a></td>
{#        <td><a href="{% url "task:worker-detail" pk=worker.id %}" class="fw-bold">{{ worker.id }}</a></td>#}
        <td><span class="fw-normal">{{ worker.username }}</span></td>
        <td><span class="fw-normal">{{ worker.first_name }} {{ worker.last_name }}</span></td>
        <td><span class="fw-normal">{{ worker.position }}</span></td>
{#        <td>#}
{#          <a href="{% url 'task:task-update' pk=task.id %}" class="btn btn-sm btn-primary">Update task</a>#}
{#          <a href="{% url 'task:task-delete' pk=task.id %}" class="btn btn-sm btn-danger">Delete task</a>#}
{#        </td>#}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
</div>
