{% extends "base.html" %}

{% block content %}

  <h2>{{ worker.username }} ({{ worker.first_name }} {{ worker.last_name }})</h2>
  <br>
  <a href="{% url "task:worker-update" pk=worker.id %}" class="btn btn-primary">Update worker</a>
  <a href="{% url "task:worker-delete" pk=worker.id %}" class="btn btn-danger">Delete worker</a>
  <hr>
  <p>
    <strong>email: {% if worker.email %}{{ worker.email }} {% else %}This user don't have email{% endif %}</strong>
  </p>
  <p><strong>Position: {{ worker.position }}</strong></p>
  <div>
    <hr>
    <h4>Tasks in progress:</h4>
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="border-gray-200">Id</th>
        <th class="border-gray-200">Task name</th>
        <th class="border-gray-200">Task type</th>
        <th class="border-gray-200">Deadline</th>
        <th class="border-gray-200">Priority</th>
      </tr>
      </thead>
      <tbody>
      <!-- Item -->
      {% for task in worker.tasks.all %}
        {% if not task.is_completed %}
          <tr>
            <td><a href="{% url "task:task-detail" pk=task.id %}" class="fw-bold">{{ task.id }}</a></td>
            <td><span class="fw-normal">{{ task.name|truncatechars:15 }}</span></td>
            <td><span class="fw-normal">{{ task.task_type }}</span></td>
            <td><span class="fw-normal">{{ task.deadline }}</span></td>
            <td><span class="fw-bold">{{ task.priority }}</span></td>
            <td>
              <a href="{% url 'task:task-update' pk=task.id %}" class="btn btn-sm btn-primary">Update task</a>
              <a href="{% url 'task:task-delete' pk=task.id %}" class="btn btn-sm btn-danger">Delete task</a>
            </td>
          </tr>
        {% endif %}
      {% empty %} <p>In this user do not have tasks in progress</p>
      {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
