<ul class="nav flex-column mb-auto">
  {% if user.is_authenticated %}
    <li>
      <a class="list-group-item list-group-item-action list-group-item-light p-3"
         href="#">
        User: {{ user.username }}
      </a>
    </li>
    <li>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" style="color: blue"
         href="{% url 'logout' %}">
        Logout
      </a>
    </li>
  {% else %}
    <li>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" style="color: blue"
         href="{% url 'login' %}">
        Login
      </a>
    </li>
  {% endif %}
  <br>
  <li>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">
      Tasks
    </a>
  </li>
  <li>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'task:worker-list' %}">
      Workers
    </a>
  </li>
  <li>
    <a class="list-group-item list-group-item-action list-group-item-light p-3"
       href="{% url 'task:type-list' %}">
      Task types
    </a>
  </li>
  <li>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'task:position-list' %}">
      Positions
    </a>
  </li>
</ul>
